<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/foundation.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/app.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/addBook.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/select2.min.css}" rel="stylesheet" media="screen">
    <script src="../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
    <script src="../static/js/vendor/foundation.js" th:src="@{/js/vendor/foundation.js}"></script>
    <!--<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>-->
    <!--<script src="../static/js/sweetalert2.min.js" th:src="@{/js/sweetalert2.min.js}"></script>-->
    <!--<script src="../static/js/select2.min.js" th:src="@{/js/select2.min.js}"></script>-->
</head>
</html>