<!doctype html>
<html class="no-js" lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../../static/css/foundation.css}" rel="stylesheet" media="screen">
    <link th:href="@{../../static//app.css}" rel="stylesheet" media="screen">
    <script src="../../static/js/vendor/jquery.js" th:src="@{../../static/js/vendor/jquery.js}"></script>
    <script src="../../static/js/vendor/foundation.js" th:src="@{../../static/js/vendor/foundation.js}"></script>
    <script src="../../static/js/app.js" th:src="@{../../static/js/app.js}"></script>
</head>
<body>
<div id="navPanel" th:fragment="nav" style="display: none">
    <div class="top-bar" id="my-nav-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="/books">КНИЖНАЯ ЛАВКА</a></li>
                <li>
                    <a href="#">Справочники</a>
                    <ul class="menu vertical">
                        <li><a href="/addBook">Книги</a></li>
                        <li><a href="/authors">Авторы</a></li>
                        <li><a href="/providers">Поставщики</a></li>
                        <li><a href="/clients">Клиенты</a></li>
                        <li><a href="/handbooks/genres">Жанры</a></li>
                    </ul>
                </li>
                <!--<li>-->
                    <!--<a href="#">Заполнение Справочников</a>-->
                    <!--<ul class="menu vertical">-->
                        <!--<li><a href="/addBook">Книги</a></li>-->
                        <!--<li><a href="/handbooks/authors">Авторы</a></li>-->
                        <!--<li><a href="/handbooks/genres">Жанры</a></li>-->
                        <!--<li><a href="/handbooks/providers">Поставщики</a></li>-->
                        <!--<li><a href="/handbooks/clients">Клиенты</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <a href="/orders">Заказы</a>
                </li>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="#"><img src="../pic/svg/gear.svg"></a></li>
                        <li>
                            <div th:replace="fragments/search :: search"></div>
                        </li>
                        <li><a href="#">Выход</a></li>
                        </a>
                    </ul>
                </div>
            </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>