<!doctype html>
<html class="no-js" lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../../static/css/foundation.css}" rel="stylesheet" media="screen">
    <link th:href="@{../../static//app.css}" rel="stylesheet" media="screen">
    <script src="../../static/js/vendor/jquery.js" th:src="@{../../static/js/vendor/jquery.js}"></script>
    <script src="../../static/js/vendor/foundation.js" th:src="@{../../static/js/vendor/foundation.js}"></script>
    <script src="../../static/js/app.js" th:src="@{../../static/js/app.js}"></script>
</head>

<body>
<div th:fragment="search">
    <form th:action="@{/books/}" method="post" th:object="${searchBook}">
        <ul class="menu">
            <li><input
                    type="search"
                    class="vinty-border-radius vinty-margin-top"
                    placeholder="Search"
                    th:id="searchBook"
                    th:name="searchBook"/>
            </li>
            <li>
                <button
                        type="submit"
                        class="button primary vinty-border-radius vinty-margin-top"
                        text="Поиск по названию книги">Поиск
                </button>
            </li>
        </ul>
    </form>
</div>
</body>
</html>