.input-name {
    /*width: 400px;*/
    width: 100%;
}

.input-year {
    width: 130px;
}

.input-date {
    width: 170px;
}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}