body {
    background: #625fdc0f;
    background-image: url(../pic/backround2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.vinty-opacity {
    opacity: 0.8;
}

.vinty-color {
    color: #3d4bb7;
}

.vinty-border-radius {
    border-radius: 15px;
}

.top-bar, .top-bar ul {
    background-color: #3d4bb7;
}

.dropdown.menu a {
    margin-top: -6px !important;
    padding: 29px 15px 29px 12px;
    color: #f4f5fa;
    font-size: 22px;
    font-weight: bold;
}

li a img {
    margin-top: -4px;
}

.vinty-margin-top {
    margin-top: 14px;
}

table thead, table tbody, table tfoot {
    border: 0 solid #f1f1f1;
    background-color: #fefefe;
}

/*--------------------*/
.button.primary.vinty {
    background-color: #3d4bb7;
    color: #f4f5ff;
    font-size: 16px;
    border-radius: 15px;
}

.button.primary.vinty:hover, .button.primary.vinty:focus {
    background-color: #2890e4;
    color: #f9f9f9;
    border-radius: 15px;
}

.button.hollow.secondary {
    border: 1px solid #767676;
    color: #3d4bb7;
    border-radius: 15px;
}

.button.hollow.secondary:hover, .button.hollow.secondary:focus {
    border: 1px solid #767676;
    color: #3d4bb7;
    border-radius: 15px;
}

/*------------------*/
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: #f4f5ff;
}

table thead th {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left;
    color: #3d4bb7;
    background-color: #f4f5ff;
    border-radius: 15px;
}

[type='text'], [type='password'] {
    border-radius: 15px;
}

select {
    border-radius: 15px;
}

/*option {*/
/*border-radius: 15px;*/
/*}*/

select:focus {
    border: 1px solid #3d4bb7;
    border-radius: 15px;
}

.more {
    outline: none;
    display: block;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #fff;
    background-repeat: no-repeat;
    font-size: 25px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    height: 50px;
    width: 75%;
    line-height: 1.5em;
    background-size: 48px;
    margin: 0 auto 4px;
    background-image: url(../pic/svg/PlusPeople.svg);
}

.more:hover {
    border: 1px solid #bbb;
    text-decoration: none;
    background-position: left -96px;
    background-color: #ffffffba;
}

.more:active {
    color: #666;
    background-position: left -47px;
    font-size: 24px;
}

.round {
    -moz-border-radius: 5px;
    -webkit-border-radius: 15px;
}

label {
    font-size: 18px;
}

.mysvg {
    width: 32px;
    height: 32px;
}