<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Add Book</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
            <h1 align="center">Добавление КНИГИ</h1>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<div class="grid-container">
    <form id="formAddBook" th:action="@{/addBook/save}" method="post" th:object="${book}">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label for="name">Наименование книги
                    <input type="text" value="" placeholder="Мастер и Маргарита..." class="input-name"
                           id="name" th:field="${book.name}" required="required"/>
                </label>
                <label for="yearPublic">Год публикации
                    <input type="text" value="" placeholder="1989..." class="input-year"
                           id="yearPublic" th:field="${book.publishingYear}"/>
                </label>
                <label for="genreId">Жанр
                    <select id="genreId" th:field="*{genreId}">
                        <option th:each="genre : ${genres}"
                                th:value="${genre.id}"
                                th:text="${genre.name}">
                        </option>
                    </select>
                </label>
                <label for="publishingHouse">Издание
                    <input type="text" value="" placeholder="Веном..."
                           id="publishingHouse" th:field="${book.publishingHouse}"/>
                </label>
                <div class="grid-x grid-padding-x">
                    <div class="medium-3 cell">
                        <label for="numberOfVolumes">Число томов
                            <input type="text" value="" placeholder="2..." class="input-year"
                                   id="numberOfVolumes" th:field="${book.numberOfVolumes}"/>
                        </label>
                    </div>
                    <div class="medium-9 cell">
                        <label for="painter">Художник
                            <input type="text" value="" placeholder="Хуан Вальехос..." class="input-name"
                                   id="painter" th:field="${book.painter}"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="medium-6 cell">
                <label for="author">Автор (зажмите CTL или Shift что бы выбрать несколько)
                    <select id="author" th:field="*{author}" class="js-example-basic-multiple-limit"
                            multiple="multiple">
                        <option th:each="author : ${authors}"
                                th:value="${author.id}"
                                th:text="${author.family} + ' ' + ${author.name} + ' ' + ${author.patronymic}">
                        </option>
                    </select>
                </label>
                <label for="privider">Поставщик
                    <select id="privider" th:field="*{providersId}">
                        <option th:each="provider : ${providers}"
                                th:value="${provider.id}"
                                th:text="${provider.name} + ' ' + ${provider.family}">
                        </option>
                    </select>
                </label>
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label for="purchasePrice">Входная цена
                            <input type="text" value="" placeholder="240..." class="input-year"
                                   id="purchasePrice" th:field="${book.purchasePrice}"/>
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label for="purchasePrice">Выходная цена
                            <input type="text" value="" placeholder="310..." class="input-year"
                                   id="purchasePrice" th:field="${book.sellingPrice}"/>
                        </label>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label for="rackNumber">Номер стелажа
                            <input type="text" value="" placeholder="2..." class="input-year"
                                   id="rackNumber" th:field="${book.rackNumber}"/>
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label for="shelfNumber">Номер полки
                            <input type="text" value="" placeholder="2..." class="input-year"
                                   id="shelfNumber" th:field="${book.shelfNumber}"/>
                        </label>
                        <label for="dateOfDelivery">Дата поступления
                            <input type="date" value="" placeholder="2..." class="input-date"
                                   id="dateOfDelivery" th:field="${book.dateOfDelivery}"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <label for="note">Описание книги
            <textarea type="text" rows="3" placeholder="Отличная книга..."
                      id="note" th:field="${book.note}"></textarea>
        </label>
        <a onclick="document.getElementById('formAddBook').submit()" class="more round">Добавить Книгу</a>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>