<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Books</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
            <h1 align="center">АВТОРЫ</h1>
            <form method="post" name="form1" id="form1">
                <a onclick="addAuthor()" href="#" class="more round">Добавить Автора</a>
                <!--<a onclick="addAuthor2()" href="#" class="more round">Добавить Автора</a>-->
            </form>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell" th:with="isTrue = 0">
            <table>
                <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Пометка</th>
                </tr>
                </thead>
                <tr th:each="author : ${myAuthors}">
                    <td th:text="${author.family}"></td>
                    <td th:text="${author.name}"></td>
                    <td th:text="${author.patronymic}"></td>
                    <td th:text="${author.note}"></td>
                    <td>
                        <th:block th:each="authorId : ${authorsIds}">
                            <th:block th:if="${author.id == authorId}">
                                    <div th:text="х"  style="font-weight:bold; color: crimson" title="Удаление невозможно! Есть связанные с автором книги."></div>
                            </th:block>
                        </th:block>
                        <a th:href="${'/author/delete/' + author.id}" title="Удалить (операция необратима)">
                            <img src="../pic/svg/delete.svg">
                        </a>
                    </td>
                    <!--<td><a th:href="${'/authorDetail/' + author.id}" title="Посмотреть Автора детально" th:text="'детально'"></a></td>-->
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/js/author.js"></script>
</body>
</html>