<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Book Detail</title>
</head>
<body>

<div th:replace="fragments/nav :: nav"></div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
            <div class="callout secondary">
                <h5 th:text="'Наименование книги: ' + ${book.name}"></h5>
                <p th:text="'Авторство: ' + ${book.author}"></p>
                <p th:text="'Жанр: ' + ${book.genreId.name}"></p>
                <p th:text="'Год публикации: ' + ${book.publishingYear}"></p>
                <p th:text="'Издательство: ' + ${book.publishingHouse}"></p>
                <p th:text="'Количество томов: ' + ${book.numberOfVolumes}"></p>
                <p>
                    <a th:href="${'/providers/' + book.providersId.id}" title="Посмотреть Постащика"
                       th:text="'Поставщик: ' + ${book.providersId.name} + ' ' +  ${book.providersId.family}"></a>
                </p>
                <p th:text="'Дата поставки: ' + ${book.dateOfDelivery}"></p>
                <p th:text="'Дата продажи: ' + ${book.dateOfSale}"></p>
                <p th:text="'Цена поставки: ' + ${book.purchasePrice}"></p>
                <p th:text="'Цена продажи: ' + ${book.sellingPrice}"></p>
                <p th:text="'Номер стелажа: ' + ${book.rackNumber}"></p>
                <p th:text="'Номер полки: ' + ${book.shelfNumber}"></p>
                <p th:text="'Наименование серии: ' + ${book.seriesName}"></p>
                <p th:text="'Примечание: ' + ${book.note}"></p>

                <a href="#0">Какая то ссылка.</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>