<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Books</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
            <!--<h1 align="center">КНИГИ</h1>-->
            <a href="/addBook" class="more round">Добавить Книгу</a>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<!--<div class="grid-container">-->
<!--<div class="grid-x grid-padding-x">-->
<!--<div class="medium-12 cell">-->
<!--<table>-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Наименование книги</th>-->
<!--<th>Автор</th>-->
<!--<th>Жанр</th>-->
<!--<th title="Год публикации">Год</th>-->
<!--<th title="Наименование серии, если есть">Серия</th>-->
<!--<th title="Количество томов">Томов</th>-->
<!--<th>Издательство</th>-->
<!--<th>Поставщик</th>-->
<!--<th>Дата поставки</th>-->
<!--<th>Дата продажи</th>-->
<!--<th>Входная цена</th>-->
<!--<th>Выходная цена</th>-->
<!--<th>Стелаж</th>-->
<!--<th>Полка</th>-->
<!--<th>Кол-во</th>-->
<!--<th>Удаление</th>-->
<!--<th>Продажа</th>-->
<!--<th>+1</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tr th:each="book, iStat : ${myBooks.content}">-->
<!--<td><a th:href="${'/bookDetail/' + book.id}" title="Посмотреть паспорт Книги"-->
<!--th:text="${book.name}"></a></td>-->
<!--<th:block th:switch="${book.author.size()}">-->
<!--<div th:case="1">-->
<!--<td>-->
<!--<a th:href="${'/author/' + book.author[0].id}" title="Посмотреть Автора"-->
<!--th:text="${book.author[0]}"></a>-->
<!--</td>-->
<!--</div>-->
<!--<div th:case="2">-->
<!--<td>-->
<!--<a th:href="${'/author/' + book.author[0].id}" title="Посмотреть Автора"-->
<!--th:text="${book.author[0]} + ';'"></a>-->
<!--<a th:href="${'/author/' + book.author[1].id}" title="Посмотреть Автора"-->
<!--th:text="${book.author[1]}"></a>-->
<!--</td>-->
<!--</div>-->
<!--<div th:case="*">-->
<!--<td>Множество авторов</td>-->
<!--</div>-->
<!--</th:block>-->
<!--<td th:text="${book.genreId.name}"></td>-->
<!--<td th:text="${book.publishingYear}"></td>-->
<!--<td th:text="${book.seriesName}"></td>-->
<!--<td th:text="${book.numberOfVolumes}"></td>-->
<!--<td th:text="${book.publishingHouse}"></td>-->
<!--<td>-->
<!--<a th:href="${'/providerDetail/' + book.providersId.id}"-->
<!--title="Посмотреть Поставщика"-->
<!--th:text="${book.providersId.family}"></a>-->
<!--</td>-->
<!--<td th:text="${book.dateOfDelivery}"></td>-->
<!--<td th:text="${book.dateOfSale}"></td>-->
<!--<td th:text="${book.purchasePrice}"></td>-->
<!--<td th:text="${book.sellingPrice}"></td>-->
<!--<td th:text="${book.rackNumber}"></td>-->
<!--<td th:text="${book.shelfNumber}"></td>-->
<!--<td th:text="${book.count}"></td>-->
<!--<td>-->
<!--<a th:href="${'/book/delete/' + book.id}" title="Удалить (операция необратима)">-->
<!--<img class="mysvg" src="../pic/svg/delete.svg">-->
<!--</a>-->
<!--</td>-->
<!--<td>-->
<!--<th:block th:if="${book.count < 1}">-->
<!--<div th:text="х" style="font-weight:bold; color: crimson"-->
<!--title="Удаление невозможно! Количество меньше одного."></div>-->
<!--</th:block>-->
<!--<a th:href="${'/book/sell/' + book.id}" title="Продать">-->
<!--<img class="mysvg" src="../pic/svg/sell2.svg">-->
<!--</a>-->
<!--</td>-->
<!--<td>-->
<!--<a th:href="${'/book/plusOne/' + book.id}" title="Продать">-->
<!--<img class="mysvg" src="../pic/svg/plus.svg">-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->


<table border="1">
    <thead>
    <tr>
        <th th:text="#{msg.id}">
        <th th:text="#{msg.name}">
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, iStat : ${bookPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${book.id}">
        <td th:text="${book.name}">
    </tr>
    </tbody>
</table>
<div th:if="${bookPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/books(size=${bookPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
            <ul class="pagination" role="navigation" aria-label="Pagination">
                <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#0" aria-label="Page 2">2</a></li>
                <li><a href="#0" aria-label="Page 3">3</a></li>
                <li><a href="#0" aria-label="Page 4">4</a></li>
                <li class="ellipsis" aria-hidden="true"></li>
                <li><a href="#0" aria-label="Page 12">12</a></li>
                <li><a href="#0" aria-label="Page 13">13</a></li>
                <li><a href="#0" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            </ul>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div th:replace="fragments/footer :: footer"></div>
<!--<script src="/js/app.js"></script>-->
</body>
</html>