<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Clients</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
            <h1 align="center">КЛИЕНТЫ</h1>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
            <table>
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th width="130px">Телефоны</th>
                    <th>Пометка</th>
                </tr>
                </thead>
                <tr th:each="client : ${myClients}">
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.family}"></td>
                    <td th:text="${client.patronymic}"></td>
                    <td th:text="${client.telephone}"></td>
                    <td th:text="${client.note}"></td>
                    <!--<td><a th:href="${'/authorDetail/' + author.id}" title="Посмотреть Автора детально" th:text="'детально'"></a></td>-->
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>