<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Provider</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
        </div>
        <div class="medium-6 cell">
            <br>
            <h1 align="center">Поставщики</h1>
        </div>
        <div class="medium-3 cell">
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell">
            <table>
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Адрес</th>
                    <th>Пасспорт</th>
                    <th>Дополнительная информация</th>
                </tr>
                </thead>
                <tr th:each="provider : ${providers}">
                    <td th:text="${provider.name}"></td>
                    <td th:text="${provider.family}"></td>
                    <td th:text="${provider.patronymic}"></td>
                    <td th:text="${provider.address}"></td>
                    <td th:text="${provider.passport}"></td>
                    <td th:text="${provider.note}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>